body {
    background-image: url(../images/folk-pattern.png);
}





p, a {
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
}


h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    height: 98px;
    border-color: #cccccc;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #666666;
    color: white;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}


img {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
}

#left {
    float: left;
}

#right {
    float: right;
}

/* This section is formating my name as its displayed in the navigation bar */
h1 {
    color: white;
    background-color: #4aaaa5;
    border: #ffffff;
    padding: 20px;
    margin: 0 20 0;
}

h2 {
    color: #4aaaa5;
}


.container {
    width: 960px;
    background: #ffffff;
    border: 10px #dddddd;
    padding: 20px;
    margin: 20px;
    align-content: center;
    height: fit-content;
}

.wrapper {
    width: 960px;
    padding: 0;
    margin: 0 auto;
    border: #dddddd;
    align-content: center;
}

.contentmargin {
    margin: 20px;
}

.navButton {
    border: #ffffff;
    padding: 10px;
    margin: 10px;
}



/* Look into these concepts: float, padding, margin, display, overflow, clear and text-align. */