body {background-image: url(../images/folk-pattern.png);}

/* body {background: gray;} */

p, a, form {
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    height: auto;
    border-color: #cccccc;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #666666;
    color: white;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}

#profPic {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* This section is formating my name as its displayed in the navigation bar */
h1 {
    color: white;
    background-color: #4aaaa5;
    border: #ffffff;
    padding: 10px 20px 10px;
    margin: 0px 20px 0px;
}

h2 {
    color: #4aaaa5;
    margin-top: 20px;
    padding-top: 20px;

}

.container {
    width: 960px;
    background: #ffffff;
    border: 10px #dddddd;
    padding: 20px;
    align-content: center;
    height: fit-content;
    position: relative;
    top: 100px;
}

.wrapper {
    width: 960px;
    padding: 0;
    margin: 0 auto;
    border: #dddddd;
}

.contentmargin {
    margin: 20px;
}

.navButton {
    border: #ffffff;
    padding: 10px;
    margin: 10px;
}

/*revisit the solved box placements from 11/20 to get the name of the link to lay over the image */


/* These are the CSS attributes that effect the contact page specifically. */
label {
    font-size: 20px;
    border: 2px #dddddd;
}

input {
    line-height: 20px;
    margin-bottom: 10px;
}

button {
    color: white;
    background-color: #4aaaa5;
    border: #ffffff;
    width: 200px;
    padding: 10px 20px 10px;
    margin: 20px 20px 40px 0px;
}

/* These are the classes currently used to style the tiles on the portfolio page. */
img.tile {
    height: 200px;
    width: 200px;
    border: 2px solid #dddddd;
    margin: 10px;
    position: relative;
}

div.tile {
    background: #4aaaa5;
    width: 200px;
    padding: 10px 0px;
    color: #ffffff;
    text-align: center;
    left: 12px;
    position: relative;
    bottom: 80px;
}

.contentmargin::after {
    content: "";
    clear: both;
    display: table;
}



